// Material Colors
// Docs: https://material.io/guidelines/style/color.html#color-color-palette

// Red
$mcolor-red-50:             #ffebee;
$mcolor-red-100:            #ffcdd2;
$mcolor-red-200:            #ef9a9a;
$mcolor-red-300:            #e57373;
$mcolor-red-400:            #ef5350;
$mcolor-red-500:            #f44336;
$mcolor-red-600:            #e53935;
$mcolor-red-700:            #d32f2f;
$mcolor-red-800:            #c62828;
$mcolor-red-900:            #b71c1c;
$mcolor-red-a100:           #ff8a80;
$mcolor-red-a200:           #ff5252;
$mcolor-red-a400:           #ff1744;
$mcolor-red-a700:           #d50000;

// Pink
$mcolor-pink-50:            #fce4ec;
$mcolor-pink-100:           #f8bbd0;
$mcolor-pink-200:           #f48fb1;
$mcolor-pink-300:           #f06292;
$mcolor-pink-400:           #ec407a;
$mcolor-pink-500:           #e91e63;
$mcolor-pink-600:           #d81b60;
$mcolor-pink-700:           #c2185b;
$mcolor-pink-800:           #ad1457;
$mcolor-pink-900:           #880e4f;
$mcolor-pink-a100:          #ff80ab;
$mcolor-pink-a200:          #ff4081;
$mcolor-pink-a400:          #f50057;
$mcolor-pink-a700:          #c51162;

// Purple
$mcolor-purple-50:          #f3e5f5;
$mcolor-purple-100:         #e1bee7;
$mcolor-purple-200:         #ce93d8;
$mcolor-purple-300:         #ba68c8;
$mcolor-purple-400:         #ab47bc;
$mcolor-purple-500:         #9c27b0;
$mcolor-purple-600:         #8e24aa;
$mcolor-purple-700:         #7b1fa2;
$mcolor-purple-800:         #6a1b9a;
$mcolor-purple-900:         #4a148c;
$mcolor-purple-a100:        #ea80fc;
$mcolor-purple-a200:        #e040fb;
$mcolor-purple-a400:        #d500f9;
$mcolor-purple-a700:        #aa00ff;

// Deep Purple
$mcolor-deep-purple-50:     #ede7f6;
$mcolor-deep-purple-100:    #d1c4e9;
$mcolor-deep-purple-200:    #b39ddb;
$mcolor-deep-purple-300:    #9575cd;
$mcolor-deep-purple-400:    #7e57c2;
$mcolor-deep-purple-500:    #673ab7;
$mcolor-deep-purple-600:    #5e35b1;
$mcolor-deep-purple-700:    #512da8;
$mcolor-deep-purple-800:    #4527a0;
$mcolor-deep-purple-900:    #311b92;
$mcolor-deep-purple-a100:   #b388ff;
$mcolor-deep-purple-a200:   #7c4dff;
$mcolor-deep-purple-a400:   #651fff;
$mcolor-deep-purple-a700:   #6200ea;

// Indigo
$mcolor-indigo-50:          #e8eaf6;
$mcolor-indigo-100:         #c5cae9;
$mcolor-indigo-200:         #9fa8da;
$mcolor-indigo-300:         #7986cb;
$mcolor-indigo-400:         #5c6bc0;
$mcolor-indigo-500:         #3f51b5;
$mcolor-indigo-600:         #3949ab;
$mcolor-indigo-700:         #303f9f;
$mcolor-indigo-800:         #283593;
$mcolor-indigo-900:         #1a237e;
$mcolor-indigo-a100:        #8c9eff;
$mcolor-indigo-a200:        #536dfe;
$mcolor-indigo-a400:        #3d5afe;
$mcolor-indigo-a700:        #304ffe;

// Blue
$mcolor-blue-50:            #e3f2fd;
$mcolor-blue-100:           #bbdefb;
$mcolor-blue-200:           #90caf9;
$mcolor-blue-300:           #64b5f6;
$mcolor-blue-400:           #42a5f5;
$mcolor-blue-500:           #2196f3;
$mcolor-blue-600:           #1e88e5;
$mcolor-blue-700:           #1976d2;
$mcolor-blue-800:           #1565c0;
$mcolor-blue-900:           #0d47a1;
$mcolor-blue-a100:          #82b1ff;
$mcolor-blue-a200:          #448aff;
$mcolor-blue-a400:          #2979ff;
$mcolor-blue-a700:          #2962ff;

// Light Blue
$mcolor-light-blue-50:      #e1f5fe;
$mcolor-light-blue-100:     #b3e5fc;
$mcolor-light-blue-200:     #81d4fa;
$mcolor-light-blue-300:     #4fc3f7;
$mcolor-light-blue-400:     #29b6f6;
$mcolor-light-blue-500:     #03a9f4;
$mcolor-light-blue-600:     #039be5;
$mcolor-light-blue-700:     #0288d1;
$mcolor-light-blue-800:     #0277bd;
$mcolor-light-blue-900:     #01579b;
$mcolor-light-blue-a100:    #80d8ff;
$mcolor-light-blue-a200:    #40c4ff;
$mcolor-light-blue-a400:    #00b0ff;
$mcolor-light-blue-a700:    #0091ea;

// Cyan
$mcolor-cyan-50:            #e0f7fa;
$mcolor-cyan-100:           #b2ebf2;
$mcolor-cyan-200:           #80deea;
$mcolor-cyan-300:           #4dd0e1;
$mcolor-cyan-400:           #26c6da;
$mcolor-cyan-500:           #00bcd4;
$mcolor-cyan-600:           #00acc1;
$mcolor-cyan-700:           #0097a7;
$mcolor-cyan-800:           #00838f;
$mcolor-cyan-900:           #006064;
$mcolor-cyan-a100:          #84ffff;
$mcolor-cyan-a200:          #18ffff;
$mcolor-cyan-a400:          #00e5ff;
$mcolor-cyan-a700:          #00b8d4;

// Teal
$mcolor-teal-50:            #e0f2f1;
$mcolor-teal-100:           #b2dfdb;
$mcolor-teal-200:           #80cbc4;
$mcolor-teal-300:           #4db6ac;
$mcolor-teal-400:           #26a69a;
$mcolor-teal-500:           #009688;
$mcolor-teal-600:           #00897b;
$mcolor-teal-700:           #00796b;
$mcolor-teal-800:           #00695c;
$mcolor-teal-900:           #004d40;
$mcolor-teal-a100:          #a7ffeb;
$mcolor-teal-a200:          #64ffda;
$mcolor-teal-a400:          #1de9b6;
$mcolor-teal-a700:          #00bfa5;

// Green
$mcolor-green-50:           #e8f5e9;
$mcolor-green-100:          #c8e6c9;
$mcolor-green-200:          #a5d6a7;
$mcolor-green-300:          #81c784;
$mcolor-green-400:          #66bb6a;
$mcolor-green-500:          #4caf50;
$mcolor-green-600:          #43a047;
$mcolor-green-700:          #388e3c;
$mcolor-green-800:          #2e7d32;
$mcolor-green-900:          #1b5e20;
$mcolor-green-a100:         #b9f6ca;
$mcolor-green-a200:         #69f0ae;
$mcolor-green-a400:         #00e676;
$mcolor-green-a700:         #00c853;

// Light Green
$mcolor-light-green-50:     #f1f8e9;
$mcolor-light-green-100:    #dcedc8;
$mcolor-light-green-200:    #c5e1a5;
$mcolor-light-green-300:    #aed581;
$mcolor-light-green-400:    #9ccc65;
$mcolor-light-green-500:    #8bc34a;
$mcolor-light-green-600:    #7cb342;
$mcolor-light-green-700:    #689f38;
$mcolor-light-green-800:    #558b2f;
$mcolor-light-green-900:    #33691e;
$mcolor-light-green-a100:   #ccff90;
$mcolor-light-green-a200:   #b2ff59;
$mcolor-light-green-a400:   #76ff03;
$mcolor-light-green-a700:   #64dd17;

// Lime
$mcolor-lime-50:            #f9fbe7;
$mcolor-lime-100:           #f0f4c3;
$mcolor-lime-200:           #e6ee9c;
$mcolor-lime-300:           #dce775;
$mcolor-lime-400:           #d4e157;
$mcolor-lime-500:           #cddc39;
$mcolor-lime-600:           #c0ca33;
$mcolor-lime-700:           #afb42b;
$mcolor-lime-800:           #9e9d24;
$mcolor-lime-900:           #827717;
$mcolor-lime-a100:          #f4ff81;
$mcolor-lime-a200:          #eeff41;
$mcolor-lime-a400:          #c6ff00;
$mcolor-lime-a700:          #aeea00;

// Yellow
$mcolor-yellow-50:          #fffde7;
$mcolor-yellow-100:         #fff9c4;
$mcolor-yellow-200:         #fff59d;
$mcolor-yellow-300:         #fff176;
$mcolor-yellow-400:         #ffee58;
$mcolor-yellow-500:         #ffeb3b;
$mcolor-yellow-600:         #fdd835;
$mcolor-yellow-700:         #fbc02d;
$mcolor-yellow-800:         #f9a825;
$mcolor-yellow-900:         #f57f17;
$mcolor-yellow-a100:        #ffff8d;
$mcolor-yellow-a200:        #ffff00;
$mcolor-yellow-a400:        #ffea00;
$mcolor-yellow-a700:        #ffd600;

// Amber
$mcolor-amber-50:           #fff8e1;
$mcolor-amber-100:          #ffecb3;
$mcolor-amber-200:          #ffe082;
$mcolor-amber-300:          #ffd54f;
$mcolor-amber-400:          #ffca28;
$mcolor-amber-500:          #ffc107;
$mcolor-amber-600:          #ffb300;
$mcolor-amber-700:          #ffa000;
$mcolor-amber-800:          #ff8f00;
$mcolor-amber-900:          #ff6f00;
$mcolor-amber-a100:         #ffe57f;
$mcolor-amber-a200:         #ffd740;
$mcolor-amber-a400:         #ffc400;
$mcolor-amber-a700:         #ffab00;

// Orange
$mcolor-orange-50:          #fff3e0;
$mcolor-orange-100:         #ffe0b2;
$mcolor-orange-200:         #ffcc80;
$mcolor-orange-300:         #ffb74d;
$mcolor-orange-400:         #ffa726;
$mcolor-orange-500:         #ff9800;
$mcolor-orange-600:         #fb8c00;
$mcolor-orange-700:         #f57c00;
$mcolor-orange-800:         #ef6c00;
$mcolor-orange-900:         #e65100;
$mcolor-orange-a100:        #ffd180;
$mcolor-orange-a200:        #ffab40;
$mcolor-orange-a400:        #ff9100;
$mcolor-orange-a700:        #ff6d00;

// Deep Orange
$mcolor-deep-orange-50:     #fbe9e7;
$mcolor-deep-orange-100:    #ffccbc;
$mcolor-deep-orange-200:    #ffab91;
$mcolor-deep-orange-300:    #ff8a65;
$mcolor-deep-orange-400:    #ff7043;
$mcolor-deep-orange-500:    #ff5722;
$mcolor-deep-orange-600:    #f4511e;
$mcolor-deep-orange-700:    #e64a19;
$mcolor-deep-orange-800:    #d84315;
$mcolor-deep-orange-900:    #bf360c;
$mcolor-deep-orange-a100:   #ff9e80;
$mcolor-deep-orange-a200:   #ff6e40;
$mcolor-deep-orange-a400:   #ff3d00;
$mcolor-deep-orange-a700:   #dd2c00;

// Brown
$mcolor-brown-50:           #efebe9;
$mcolor-brown-100:          #d7ccc8;
$mcolor-brown-200:          #bcaaa4;
$mcolor-brown-300:          #a1887f;
$mcolor-brown-400:          #8d6e63;
$mcolor-brown-500:          #795548;
$mcolor-brown-600:          #6d4c41;
$mcolor-brown-700:          #5d4037;
$mcolor-brown-800:          #4e342e;
$mcolor-brown-900:          #3e2723;

// Grey
$mcolor-grey-50:            #fafafa;
$mcolor-grey-100:           #f5f5f5;
$mcolor-grey-200:           #eeeeee;
$mcolor-grey-300:           #e0e0e0;
$mcolor-grey-400:           #bdbdbd;
$mcolor-grey-500:           #9e9e9e;
$mcolor-grey-600:           #757575;
$mcolor-grey-700:           #616161;
$mcolor-grey-800:           #424242;
$mcolor-grey-900:           #212121;

// Blue Grey
$mcolor-blue-grey-50:       #eceff1;
$mcolor-blue-grey-100:      #cfd8dc;
$mcolor-blue-grey-200:      #b0bec5;
$mcolor-blue-grey-300:      #90a4ae;
$mcolor-blue-grey-400:      #78909c;
$mcolor-blue-grey-500:      #607d8b;
$mcolor-blue-grey-600:      #546e7a;
$mcolor-blue-grey-700:      #455a64;
$mcolor-blue-grey-800:      #37474f;
$mcolor-blue-grey-900:      #263238;
