.show-item__image {
  display:  block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: $spacer-y * 6;
  width: 80%;
  max-width: 500px;
  max-height: 50%;
  margin: auto;
  background: center center no-repeat;
  background-size: contain; // Safari doesn't like this in shorthand property

  @include media-breakpoint-up(md) {
    bottom: $spacer-y * 12;
  }
}

.show-item__price {
  position: absolute;
  left: 0;
  right: 0;
  bottom: $spacer-y * 5.5;
  font-size: $font-size-base;

  &:before {
    font-weight: normal;
  }

  @include media-breakpoint-up(md) {
    bottom: $spacer-y * 10;
  }
}

.show-item__add-to-cart {
  position: absolute;
  left: 0;
  right: 0;
  bottom: $spacer-y * 3;
  margin: auto;
  width: 10rem;
  transition-duration: 100ms;
  cursor: pointer;

  &,
  &:focus {
    @include material-shadow(1)
  }

  &:hover,
  &:focus {
    background-color: lighten($btn-success-bg, 5%);
    border-color: lighten($btn-success-bg, 5%);
    @include material-shadow(2);
  }

  &:active {
    background-color: darken($btn-success-bg, 5%);
    border-color: darken($btn-success-bg, 10%);
    box-shadow: none;
    transition-duration: 50ms;
  }

  @include media-breakpoint-up(md) {
    bottom: $spacer-y * 7;
  }
}
